@define-mixin button-danger {
  --background-light: var(--mantine-color-red-light);
  --background-dark: var(--mantine-color-red-light);
  --text-light: var(--mantine-color-red-text);
  --text-dark: var(--mantine-color-red-text);

  @mixin light {
    background-color: var(--background-light);
    color: var(--text-light);

    @mixin hover {
      background-color: alpha(var(--background-light), 0.9);
      color: alpha(var(--text-light), 0.9);
    }
  }

  @mixin dark {
    background-color: var(--background-dark);
    color: var(--text-dark);

    @mixin hover {
      background-color: alpha(var(--background-dark), 0.9);
      color: alpha(var(--text-dark), 0.9);
    }
  }
}
