@font-face {
  font-family: "Poppins", serif;
  src: local('../src/assets/fonts/Poppins/Poppins-Regular.ttf') format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins", serif;
  src: local('../src/assets/fonts/Poppins/Poppins-Italic.ttf') format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Poppins", serif;
  src: local('../src/assets/fonts/Poppins/Poppins-Medium.ttf') format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Poppins", serif;
  src: local('../src/assets/fonts/Poppins/Poppins-MediumItalic.ttf') format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Poppins", serif;
  src: local('../src/assets/fonts/Poppins/Poppins-Bold.ttf') format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Poppins", serif;
  src: local('../src/assets/fonts/Poppins/Poppins-BoldItalic.ttf') format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Roboto Mono", serif;
  src: local('../src/assets/fonts/Roboto_Mono/static/RobotoMono-Medium.ttf') format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Mono", serif;
  src: local('../src/assets/fonts/Roboto_Mono/static/RobotoMono-MediumItalic.ttf') format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Roboto Mono", serif;
  src: local('../src/assets/fonts/Roboto_Mono/static/RobotoMono-Bold.ttf') format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Mono", serif;
  src: local('../src/assets/fonts/Roboto_Mono/static/RobotoMono-BoldItalic.ttf') format("truetype");
  font-weight: 700;
  font-style: italic;
}
